.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  width: 240px;
  height: 240px;
  background-color: chocolate;
  display: flex;
  flex-wrap: wrap;
}

.individualNumber {
  background-color: cornflowerblue;
  width: 78px;
  height: 78px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}